{
  "trailingComma": "none",
  "semi": true,
  "tabWidth": 2,
  "singleQuote": true,
  "bracketSpacing": true,
  "jsxBracketSameLine": true,
  "endOfLine": "auto",
  "printWidth": 80,
  "quoteProps": "consistent",
  "importOrder": [
    "react",
    "^react-router-dom",
    "^styled-components$",
    "^types",
    "^[@]",
    "^[./]",
    "^[.]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
